#%RAML 0.8
title: API
version: '3'
baseUri: 'https://api.themoviedb.org/3'
mediaType: application/json
documentation:
  - title: API
    content: |-
      ## Welcome

      This is a place to put general notes and extra information, for internal use.

      To get started designing/documenting this API, select a version on the left. # Title
      No Description
  - title: Images
    content: |-
      You'll notice that movie, TV and person objects contain references to different file paths. In order to generate a fully working image URL, you'll need 3 pieces of data. Those pieces are a `base_url`, a `file_size` and a `file_path`.

      The first two pieces can be retrieved by calling the [/configuration](#endpoint:veJtxESTBJjSfYodk) API and the third is the file path you're wishing to grab on a particular media object. Here's what a full image URL looks like if the `poster_path` of `/kqjL17yufvn9OVLyXYpvtyrFfak.jpg` was returned for a movie, and you were looking for the `w500` size:

          https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg
  - title: Introduction
    content: |-
      Welcome to version 3 of The Movie Database (TMDb) API. Below you will find a current list of the available methods on our movie, tv, actor and image API. If you need help or support, please head over to our [API support forum](https://www.themoviedb.org/talk/category/5047958519c29526b50017d6).

      To register for an API key, follow these steps:

      1. Click into your account settings ([screenshot](https://www.themoviedb.org/assets/static_cache/da34d170e2ffdb3db4a317314e64b186/images/api-create-1.png))
      2. Click the API menu item on the left ([screenshot](https://www.themoviedb.org/assets/static_cache/41b35724525a13c05bb1d63fe7af7621/images/api-create-2.png))
      3. Click "Create" from the API page ([screenshot](https://www.themoviedb.org/assets/static_cache/af031c5c6f6787caa956d374c1c3ce9b/images/api-create-3.png))

      **Please note** that the API registration process is _not optimized_ for mobile devices so you should access these pages on a desktop computer and browser.

      Before being issued an API key you will have to agree to our terms of use. You can read it [here](https://www.themoviedb.org/documentation/api/terms-of-use).
  - title: Search & Query For Details
    content: |-
      A common workflow here on TMDb is to search for a movie (or TV show, or person) and then query for the details. Here's a quick overview of what that flow looks like.

      ### 1. Search

      First, you are going to issue a query to one of the movie, TV show or person search methods. We'll use Jack Reacher and the movie method for this example:

          https://api.themoviedb.org/3/search/movie?api_key={api_key}&query=Jack+Reacher

      This will return a few fields, the one you want to look at is the `results` field. This is an array and will contain our standard movie list objects. Here's an example of the first item:

      ````
      {
        "poster_path": "/IfB9hy4JH1eH6HEfIgIGORXi5h.jpg",
        "adult": false,
        "overview": "Jack Reacher must uncover the truth behind a major government conspiracy in order to clear his name. On the run as a fugitive from the law, Reacher uncovers a potential secret from his past that could change his life forever.",
        "release_date": "2016-10-19",
        "genre_ids": [
          53,
          28,
          80,
          18,
          9648
        ],
        "id": 343611,
        "original_title": "Jack Reacher: Never Go Back",
        "original_language": "en",
        "title": "Jack Reacher: Never Go Back",
        "backdrop_path": "/4ynQYtSEuU5hyipcGkfD6ncwtwz.jpg",
        "popularity": 26.818468,
        "vote_count": 201,
        "video": false,
        "vote_average": 4.19
      }
      ````

      ### 2. Query For Details

      With the item above in hand, you can see the `id` of the movie is `343611`. You can use that id to query the movie details method:

          https://api.themoviedb.org/3/movie/343611?api_key={api_key}

      This will return all of the main movie details as outlined in the [movie details documentation](#endpoint:zCdAaaujpFNsSnbC4). I would also suggest taking a read through the [append to response](#docTextSection:JdZq8ctmcxNqyLQjp) document as it outlines how you can make multiple sub requests in one. For example, with videos:

          https://api.themoviedb.org/3/movie/343611?api_key={api_key}&append_to_response=videos
  - title: Authentication
    content: |-
      ### Application Authentication

      Application level authentication on version 3 is controlled by a single query parameter, `api_key`. You can request an API key by logging in to your account on TMDb and clicking the "API" link in the left hand side bar of your account page.

      Once you have been issued a key, an example request looks like this (replacing the `{api_key}` text with your own API key):

          https://api.themoviedb.org/3/movie/76341?api_key={api_key}

      All throughout this documentation every method has a "Try it out" tab. This functionality will let your paste your API key (and other pertinent parameters) and make a live request to the API.

      ### User Authentication

      You can authenticate TMDb users within your application to extend the TMDb experience within your application. This will let your users do things like rate movies, maintain their favourite and watch lists as well as do things like create and edit custom lists—all while staying in sync with their account on TMDb.

      User authentication is controlled with a `session_id` query parameter. You can generate a `session_id` by following these steps:

      1. Create a new [request token](#endpoint:NbBNjpoXjaL7dm844)
      2. Get the user to authorize the request token
      3. Create a new [session id](#endpoint:fDLkC3TZ6N2y8tnLN) with the athorized request token

      For a complete walkthrough of what this looks like, take a read through [this page](#docTextSection:NSZtgz7zptsiLYxXZ).

      ### Guest Sessions

      Guest sessions are a second type of user authentication. They have limited permissions as they can only rate a movie, TV show and TV episode. Creating a guest session is as simple as calling the new guest session method.

      Just like a fully authorized user session, guest sessions should be kept private as they tie a session within your application to a single token.
  - title: Image Languages
    content: |-
      `poster_path`: The poster_path will query the `language` you specify first and default back to 'en' if one is not found. In the event that an 'en' poster isn't present, we will simply try to grab the highest rated. It's important ot note that even though our `language` query parameter supports regional lookups, these regional variants **are not** supported for images at this time. This will be getting added at a later date. 

      `backdrop_path`: Since 99% of backdrops don't contain a language, the default lookup for a backdrop is to simply query for the highest rated backdrop that belongs to the given entry.

      `still_path`: Like backdrops, TV episode images don't inherently have languages. We query for the highest rated.

      In the event you query one of the distinct `/images` methods, there is a new way you can query additional languages by using the `include_image_language` query parameter. Think of this as kind of like a fallback. This is especially useful to grab two things. First, finding the backdrops and posters in a users specified language but also to grab all of the images that haven't been tagged with a language yet. Here's an example:

          https://api.themoviedb.org/3/movie/550/images?api_key={api_key}&language=en-US&include_image_language=en,null

      Notice the `include_image_language` parameter. This query (en,null) is looking for all images that match _English_ **and** those that _haven't been set_ yet (null).

      Better yet, you can do query this image method in a single request by using `append_to_response`:

          https://api.themoviedb.org/3/movie/550?api_key={api_key}&language=en-US&append_to_response=images&include_image_language=en,null
  - title: Append To Response
    content: |-
      The [movie](#endpoint:zCdAaaujpFNsSnbC4), [TV show](#endpoint:8pQA96m6fAkKrsAwJ), [TV season](#endpoint:8qq2butrBpLB2L59A), [TV episode](#endpoint:62kZHnAwu9AvudJtv) and [person](#endpoint:aCj5gnBhnFQ6r8R5s) **detail** methods support a query parameter called `append_to_response`. This makes it possible to make sub requests within the same namespace in a single HTTP request. Each request will get appended to the response as a new JSON object.

      Here's a quick example, let's assume you want the movie details and videos for a movie. Usually you would think you have to issue two requests:

          https://api.themoviedb.org/3/movie/157336?api_key={api_key}
          https://api.themoviedb.org/3/movie/157336/videos?api_key={api_key}

      With `append_to_response` you can issue a single request:

          https://api.themoviedb.org/3/movie/157336?api_key={api_key}&append_to_response=videos

      Even more powerful, you can issue multiple requests, just comma separate the values:

          https://api.themoviedb.org/3/movie/157336?api_key={api_key}&append_to_response=videos,images

      The best part of this is that these requests only count as one request against the rate limits so you can really speed up your experience.

      Each method will still respond to whatever query parameters are supported by each indivudal request. This is worth pointing out for images since your `language` parameter will filter images. This is where the `include_image_language` parameter can be useful as outlined in the [image language page](#docTextSection:btRcZmKXu25GbQ5Sv).
  - title: External IDs
    content: |-
      TMDb supports a variety of external ids that can either be queried for (via the [find](#endpoint:rZTxB77hv2XWDagGR) method) or can simply be found in each models external id method. Here's a birds eye view of what is available.

      |               | Movies | TV Shows | TV Seasons | TV Episodes | People |
      | ------------- | ------ | -------- | ---------- | ----------- | ------ |
      | IMDb          | ✓      | ✓        | ✗          | ✓           | ✓
      | TVDB          | ✗      | ✓        | ✓          | ✓           | ✗
      | Facebook      | ✓      | ✓        | ✗          | ✗           | ✓
      | Instagram     | ✓      | ✓        | ✗          | ✗           | ✓
      | Twitter       | ✓      | ✓        | ✗          | ✗           | ✓
      | Freebase MID* | ✗      | ✓        | ✓          | ✓           | ✓
      | Freebase ID*  | ✗      | ✓        | ✓          | ✓           | ✓
      | TVRage*       | ✗      | ✓        | ✓          | ✓           | ✓

       *Defunct or no longer available as a service
  - title: Regions
    content: |-
      Region supoprt is finally here! There's two aspects to this that I should go over. The first is the new `region` parameter.

      The region paramater will act as a filter to search for and display matching release date information. This parameter is expected to be an [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.

      For example, if you were searching for the movie Whiplash and wanted to show the German release date (to go with the German translation data of course) you can make a query like so:

          https://api.themoviedb.org/3/search/movie?api_key=<<api_key>>&query=whiplash&language=de-DE&region=DE

      In this case, `region` is simply acting as a presentation filter. In the event that we don't have a release date entered for the country you are searching for, we simply default back to the primary release date like always. This is the same as entering no `region` parameter.

      Where this can get pretty amazing is with the [movie discover](#endpoint:p5NyoR7dM842S8G9j) method because there's also a new `with_release_type` filter that can work in tandum with the `region`. Lets say you were looking for movies that are in the theatres in Germany this week. That's easy, we can now build this query:

          https://api.themoviedb.org/3/discover/movie?api_key=<<api_key>>&language=de-DE&region=DE&release_date.gte=2016-11-16&release_date.lte=2016-12-02&with_release_type=2|3

      You can of course sepecify any release type as found in our [movie release](#endpoint:cmdJ4w5BRvLxno8ry) documentation. If you do not specify `with_release_type` while using the `region` param on discover, it simply acts as a filter looking for any movies that match your filter criteria that has at a bare minimum, one matching release date for the country specified.
  - title: Languages
    content: |-
      Language support on TMDb is based on the `language` query parameter you send along with your request. You can specify one or two values (separated by a dash) with this parameter. Here's a breakdown of how this works.

      The first is a bare [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) code. A simple example to request the German information of a lists items looks like:

          https://api.themoviedb.org/3/movie/76341?api_key=<<api_key>>&language=de

      Taking this a step further, knowing that some languages like Portuguese are available in different regions around the world, and you were only interested in Brazil, you can specify an extra [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) tag. A request for this more specific data looks like:

          https://api.themoviedb.org/3/movie/76341?api_key=<<api_key>>&language=pt-BR

      Only a limited set of combinations are supported as a translation source and we try to be smart about how this works. In my first example, calling only `de` is really the same as calling `de-DE`. By default, a bare ISO-639-1 language will default to its matching pair, ie. `pt-PT`. This is why in my second example above, I showed you how you can override that value with `pt-BR`. The last example to show you would be a request for `pt-US`. This is not a valid translation and will default to `pt-PT`.
  - title: v4 or v3 lists?
    content: |-
      You may have noticed that the a v4 version of our list API exists. While these v3 list methods continue to work, all of the new features you can see on our website are only available if you switch to the v4 lists.

      #### What are some of the improvements in v4?

      - You can import "unlimited" items in a single request
      - You can use mixed type (movie and TV) lists
      - You can use private lists
      - You can add and use comments per item
      - There are more sort options
      - They are faster

      Check the [v4 documentation](https://developers.themoviedb.org/4/list) for more information.
  - title: How do I generate a session id?
    content: |-
      As outlined in the getting started guide, the basics to getting a user authenticated look like this:

      1. Create a new [request token](#endpoint:NbBNjpoXjaL7dm844)
      2. Get the user to authorize the request token
      3. Create a new [session id](#endpoint:fDLkC3TZ6N2y8tnLN) with the athorized request token

      Part 1 and 3 should be fairly easy to understand but I'll walk through each step to make sure it's clear.

      #### Step 1: Create a request token

      The first step as a developer is to [request a new token](#endpoint:NbBNjpoXjaL7dm844). This is a temporary token that is required to ask the user for permission to access their account. This token will auto expire after 60 minutes if it's not used.

      #### Step 2: Ask the user for permission

      With a request token in hand, forward your user to the following URL:

          https://www.themoviedb.org/authenticate/{REQUEST_TOKEN}

      You can also pass this URL a `redirect_to` parameter, ie:

          https://www.themoviedb.org/authenticate/{REQUEST_TOKEN}?redirect_to=http://www.yourapp.com/approved

      Once the user has approved your request token, they will either be redirected to the URL you specified in the `redirect_to` parameter or to the `/authenticate/allow` path on TMDb. If they aren't redirected to a custom URL, the page will also have a `Authentication-Callback` header. This header contains the API call for step #3. You can either manually generate it or simply use the one we return.

      #### Step 3: Create a session ID

      By calling the [new session method](#endpoint:fDLkC3TZ6N2y8tnLN) with the request token that has been approved by the user in step 2, we will return a new `session_id`. This is the session that can now be used to write user data. You should treat this key like a password and keep it secret.

      #### Guest Sessions

      A guest session can be used to rate movies without having a registered TMDb user account. For more information about how to create a guest session see [here](#endpoint:RAcKFK7ueB6HfcZga).
  - title: Request Rate Limiting
    content: |-
      We do enforce a small amount of rate limiting. Our current limits are 40 requests every 10 seconds and are limited by **IP address**, not API key. You can think of this is being burstable to 40 in a single second, or as an average of 4 requests/second. The timer will reset 10 seconds from your first request within the current 10 second "bucket". This means that if you trigger the limit you will have to wait up to 9 seconds before the timer resets but depending where you are within the 10 second window, it could be the very next second.

      You can use the `X-RateLimit` headers that get returned with every request to keep track of your current limits. If you exceed the limit, you will receive a `429` HTTP status with a `Retry-After` header. As soon your cool down period expires, you are free to continue making requests.

      Here's an example of what the headers look like on a rate limited request:

      ```
      HTTP/1.1 200 OK
      Access-Control-Allow-Origin: *
      Access-Control-Expose-Headers: ETag, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After
      Cache-Control: public, max-age=28800
      Content-Length: 1339
      Content-Type: application/json;charset=utf-8
      Date: Wed, 03 May 2017 15:57:05 GMT
      ETag: "a2f04167b75be463e8c30b93b473aed1"
      Server: openresty
      Vary: Accept-Encoding
      X-Memc: HIT
      X-Memc-Age: 25954
      X-Memc-Expires: 2846
      X-Memc-Key: a7a8be33582080c3e162cfcb93607b73
      X-RateLimit-Limit: 40
      X-RateLimit-Remaining: 32
      X-RateLimit-Reset: 1493827035
      Connection: keep-alive
      ```
  - title: JSON & JSONP
    content: |-
      The only format we support is JSON. If you are using a JavaScript library and need to make requests from another public domain, you can use the `callback` paramater which will encapsulate the JSON response in a JavaScript function for you.

          https://api.themoviedb.org/3/movie/550?api_key={api_key}&callback=test
  - title: Daily File Exports
    content: |-
      We have started publishing some daily ID file exports. These are not, nor intended to be full data exports. Instead, they contain a list of the valid IDs you can find on TMDb and some higher level attributes that are helpful for filtering items like the adult, video and popularity values.

      ### Data Structure

      These files themselves are not a valid JSON object. Instead, each line is. Most systems, tools and languages have easy ways of scanning lines in files (skipping and buffering) without having to load the entire file into memory. The assumption here is that you can read every line easily, and you can expect each line to contain a valid JSON object.

      ### Availability

      All of the exported files are available for download from `http://files.tmdb.org`. The export job runs every day starting at around 4:00 AM UTC, and all files are available by 5:00 AM UTC.

      There is currently no authentication on these files since they are mostly useless unless you're a user of our service. This could change at some point in the future so if you start having problems accessing these files, check this document for updates.

      |                       | Path       | Name                                         |
      | --------------------- | ---------- | -------------------------------------------- |
      | Movies                | /p/exports | movie_ids_MM_DD_YYYY.json.gz                 |
      | TV Series             | /p/exports | tv_series_ids_MM_DD_YYYY.json.gz             |
      | People                | /p/exports | person_ids_MM_DD_YYYY.json.gz                |
      | Collections           | /p/exports | collection_ids_MM_DD_YYYY.json.gz            |
      | TV Networks           | /p/exports | tv_network_ids_MM_DD_YYYY.json.gz            |
      | Keywords              | /p/exports | keyword_ids_MM_DD_YYYY.json.gz               |
      | Production Companies  | /p/exports | production_company_ids_MM_DD_YYYY.json.gz    |

      ### Example

      If you were looking for a list of valid movie ids, the full download URL for the file published on April 28 would be:

          http://files.tmdb.org/p/exports/movie_ids_04_28_2017.json.gz
  - title: Popularity
    content: |-
      Popularity is a very important metric here on TMDb. It helps us boost search results, adds an incredibly useful sort value for [discover](#endpoint:p5NyoR7dM842S8G9j), and is also just kind of fun to see items chart up and down.

      Each model builds their popularity value slightly differently. If you're curious as to the how and why, check out the information below.

      ### Movies
       - Number of votes for the day
       - Number of views for the day
       - Number of users who marked it as a "favourite" for the day
       - Number of users who added it to their "watchlist" for the day
       - Release date
       - Number of total votes
       - Previous days score

      ### TV Shows
       - Number of votes for the day
       - Number of views for the day
       - Number of users who marked it as a "favourite" for the day
       - Number of users who added it to their "watchlist" for the day
       - Next/last episode to air date
       - Number of total votes
       - Previous days score

      ### People
       - Number of views for the day
       - Previous days score

      There is no API to explore this data right now but it is something that would be a lot fun to dig into. The [daily file exports](#docTextSection:mbBvnrJCRsbtPQ6P5) do however, contain the popualrity data so there is a record of the values starting on April 28, 2017.
securitySchemes:
  - apiKey:
      type: x-api-key
      describedBy:
        queryParameters:
          api_key:
            type: string
/movie:
  displayName: movie
  '/{movie_id}':
    displayName: movie_id
    /similar:
      displayName: similar
      get:
        description: |-
          Get a list of similar movies. This is **not** the same as the "Recommendation" system you see on the website.

          These items are assembled by looking at keywords and genres.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"page\": {\n            \"type\": \"integer\"\n        },\n        \"results\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"movie-list-result-object\"\n            }\n        },\n        \"total_pages\": {\n            \"type\": \"integer\"\n        },\n        \"total_results\": {\n            \"type\": \"integer\"\n        }\n    }\n}",
                  "example": "{\n    \"page\": 1,\n    \"results\": [\n        {\n            \"adult\": false,\n            \"backdrop_path\": null,\n            \"genre_ids\": [\n                28\n            ],\n            \"id\": 106912,\n            \"original_language\": \"en\",\n            \"original_title\": \"Darna! Ang Pagbabalik\",\n            \"overview\": \"Valentina, Darna's snake-haired arch enemy, is trying to take over the Phillipines through subliminal messages on religious TV shows. Darna has her own problems, however, as she has lost her magic pearl and with it the ability to transform into her scantily clad super self. Trapped as her alter-ego, the plucky reporter Narda, she must try to regain the pearl and foil Valentina's plans.\",\n            \"release_date\": \"1994-05-09\",\n            \"poster_path\": null,\n            \"popularity\": 1.012564,\n            \"title\": \"Darna: The Return\",\n            \"video\": false,\n            \"vote_average\": 0,\n            \"vote_count\": 0\n        }\n    ],\n    \"total_pages\": 9,\n    \"total_results\": 168\n}"
                }
        queryParameters:
          api_key:
            type: string
        securedBy:
          - null
    /videos:
      displayName: videos
      get:
        description: Get the videos that have been added to a movie.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"results\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"id\": {\n                        \"type\": \"string\"\n                    },\n                    \"iso_639_1\": {\n                        \"type\": \"string\"\n                    },\n                    \"iso_3166_1\": {\n                        \"type\": \"string\"\n                    },\n                    \"key\": {\n                        \"type\": \"string\"\n                    },\n                    \"name\": {\n                        \"type\": \"string\"\n                    },\n                    \"site\": {\n                        \"type\": \"string\"\n                    },\n                    \"size\": {\n                        \"type\": \"integer\",\n                        \"enum\": [\n                            360,\n                            480,\n                            720,\n                            1080\n                        ]\n                    },\n                    \"type\": {\n                        \"type\": \"string\",\n                        \"enum\": [\n                            \"Trailer\",\n                            \"Teaser\",\n                            \"Clip\",\n                            \"Featurette\"\n                        ]\n                    }\n                }\n            }\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"results\": [\n        {\n            \"id\": \"533ec654c3a36854480003eb\",\n            \"iso_639_1\": \"en\",\n            \"iso_3166_1\": \"US\",\n            \"key\": \"SUXWAEX2jlg\",\n            \"name\": \"Trailer 1\",\n            \"site\": \"YouTube\",\n            \"size\": 720,\n            \"type\": \"Trailer\"\n        }\n    ]\n}"
                }
        queryParameters:
          api_key:
            type: string
        securedBy:
          - null
    /recommendations:
      displayName: recommendations
      get:
        description: Get a list of recommended movies for a movie.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"page\": {\n            \"type\": \"integer\"\n        },\n        \"results\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"movie-list-result-object\"\n            }\n        },\n        \"total_pages\": {\n            \"type\": \"integer\"\n        },\n        \"total_results\": {\n            \"type\": \"integer\"\n        }\n    }\n}",
                  "example": "{\n    \"page\": 1,\n    \"results\": [\n        {\n            \"adult\": false,\n            \"backdrop_path\": null,\n            \"genre_ids\": [\n                28\n            ],\n            \"id\": 106912,\n            \"original_language\": \"en\",\n            \"original_title\": \"Darna! Ang Pagbabalik\",\n            \"overview\": \"Valentina, Darna's snake-haired arch enemy, is trying to take over the Phillipines through subliminal messages on religious TV shows. Darna has her own problems, however, as she has lost her magic pearl and with it the ability to transform into her scantily clad super self. Trapped as her alter-ego, the plucky reporter Narda, she must try to regain the pearl and foil Valentina's plans.\",\n            \"release_date\": \"1994-05-09\",\n            \"poster_path\": null,\n            \"popularity\": 1.012564,\n            \"title\": \"Darna: The Return\",\n            \"video\": false,\n            \"vote_average\": 0,\n            \"vote_count\": 0\n        }\n    ],\n    \"total_pages\": 9,\n    \"total_results\": 168\n}"
                }
        queryParameters:
          api_key:
            type: string
        securedBy:
          - null
    /images:
      displayName: images
      get:
        description: |-
          Get the images that belong to a movie.

          Querying images with a `language` parameter will filter the results. If you want to include a fallback language (especially useful for backdrops) you can use the `include_image_language` parameter. This should be a comma seperated value like so: `include_image_language=en,null`.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"backdrops\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"aspect_ratio\": {\n                        \"type\": \"number\"\n                    },\n                    \"file_path\": {\n                        \"type\": \"string\"\n                    },\n                    \"height\": {\n                        \"type\": \"integer\"\n                    },\n                    \"iso_639_1\": {\n                        \"type\": [\n                            \"null\",\n                            \"string\"\n                        ]\n                    },\n                    \"vote_average\": {\n                        \"type\": \"integer\"\n                    },\n                    \"vote_count\": {\n                        \"type\": \"integer\"\n                    },\n                    \"width\": {\n                        \"type\": \"integer\"\n                    }\n                }\n            }\n        },\n        \"posters\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"aspect_ratio\": {\n                        \"type\": \"number\"\n                    },\n                    \"file_path\": {\n                        \"type\": \"string\"\n                    },\n                    \"height\": {\n                        \"type\": \"integer\"\n                    },\n                    \"iso_639_1\": {\n                        \"type\": [\n                            \"string\",\n                            \"null\"\n                        ]\n                    },\n                    \"vote_average\": {\n                        \"type\": \"integer\"\n                    },\n                    \"vote_count\": {\n                        \"type\": \"integer\"\n                    },\n                    \"width\": {\n                        \"type\": \"integer\"\n                    }\n                }\n            }\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"backdrops\": [\n        {\n            \"aspect_ratio\": 1.77777777777778,\n            \"file_path\": \"/fCayJrkfRaCRCTh8GqN30f8oyQF.jpg\",\n            \"height\": 720,\n            \"iso_639_1\": null,\n            \"vote_average\": 0,\n            \"vote_count\": 0,\n            \"width\": 1280\n        }\n    ],\n    \"posters\": [\n        {\n            \"aspect_ratio\": 0.666666666666667,\n            \"file_path\": \"/fpemzjF623QVTe98pCVlwwtFC5N.jpg\",\n            \"height\": 1800,\n            \"iso_639_1\": \"en\",\n            \"vote_average\": 0,\n            \"vote_count\": 0,\n            \"width\": 1200\n        }\n    ]\n}"
                }
        queryParameters:
          include_image_language:
            type: string
        securedBy:
          - null
    /account_states:
      displayName: account_states
      get:
        description: |-
          Grab the following account states for a session:

          - Movie rating
          - If it belongs to your watchlist
          - If it belongs to your favourite list
        is:
          - session
          - standardErrors
          - sessionOrGuestSession
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"favorite\": {\n            \"type\": \"boolean\"\n        },\n        \"rated\": {\n            \"type\": [\n                \"object\",\n                \"boolean\"\n            ]\n        },\n        \"watchlist\": {\n            \"type\": \"boolean\"\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"favorite\": true,\n    \"rated\": {\n        \"value\": 8\n    },\n    \"watchlist\": false\n}"
                }
        securedBy:
          - null
    /rating:
      displayName: rating
      delete:
        description: |-
          Remove your rating for a movie.

          A valid session or guest session ID is required. You can read more about how this works [here](#docTextSection:NSZtgz7zptsiLYxXZ).
        is:
          - jsonContentType
          - sessionOrGuestSession
          - sessionErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"status_code\": {\n            \"type\": \"integer\"\n        },\n        \"status_message\": {\n            \"type\": \"string\"\n        }\n    }\n}",
                  "example": "{\n    \"status_code\": 13,\n    \"status_message\": \"The item/record was deleted successfully.\"\n}"
                }
        securedBy:
          - null
      post:
        description: |-
          Rate a movie.

          A valid session or guest session ID is required. You can read more about how this works [here](#docTextSection:NSZtgz7zptsiLYxXZ).
        is:
          - jsonContentType
          - standardErrors
          - sessionErrors
          - sessionOrGuestSession
        body:
          application/json: |-
            {
              "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"value\": {\n            \"type\": \"number\",\n            \"minimum\": 0.5,\n            \"maximum\": 10,\n            \"description\": \"This is the value of the rating you want to submit. The value is expected to be between 0.5 and 10.0.\"\n        }\n    },\n    \"required\": [\n        \"value\"\n    ]\n}",
              "example": "{\n    \"value\": 8.5\n}"
            }
        responses:
          '201':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"status_code\": {\n            \"type\": \"integer\"\n        },\n        \"status_message\": {\n            \"type\": \"string\"\n        }\n    }\n}",
                  "example": "{\n    \"status_code\": 1,\n    \"status_message\": \"Success.\"\n}"
                }
        securedBy:
          - null
    /release_dates:
      displayName: release_dates
      get:
        description: |-
          Get the release date along with the certification for a movie.

          Release dates support different types:

          1. Premiere
          2. Theatrical (limited)
          3. Theatrical
          4. Digital
          5. Physical
          6. TV
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"results\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"iso_3166_1\": {\n                        \"type\": \"string\"\n                    },\n                    \"release_dates\": {\n                        \"type\": \"array\",\n                        \"items\": {\n                            \"type\": \"object\",\n                            \"properties\": {\n                                \"certification\": {\n                                    \"type\": \"string\"\n                                },\n                                \"iso_639_1\": {\n                                    \"type\": \"string\"\n                                },\n                                \"note\": {\n                                    \"type\": \"string\"\n                                },\n                                \"release_date\": {\n                                    \"type\": \"string\"\n                                },\n                                \"type\": {\n                                    \"type\": \"integer\",\n                                    \"enum\": [\n                                        1,\n                                        2,\n                                        3,\n                                        4,\n                                        5,\n                                        6\n                                    ]\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"results\": [\n        {\n            \"iso_3166_1\": \"BG\",\n            \"release_dates\": [\n                {\n                    \"certification\": \"c\",\n                    \"iso_639_1\": \"\",\n                    \"note\": \"\",\n                    \"release_date\": \"2012-08-28T00:00:00.000Z\",\n                    \"type\": 3\n                }\n            ]\n        }\n    ]\n}"
                }
        queryParameters:
          api_key:
            type: string
        securedBy:
          - null
    /alternative_titles:
      displayName: alternative_titles
      get:
        description: Get all of the alternative titles for a movie.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"titles\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"iso_3166_1\": {\n                        \"type\": \"string\"\n                    },\n                    \"title\": {\n                        \"type\": \"string\"\n                    }\n                }\n            }\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"titles\": [\n        {\n            \"iso_3166_1\": \"BR\",\n            \"title\": \"Clube da Luta\"\n        }\n    ]\n}"
                }
        queryParameters:
          country:
            type: string
        securedBy:
          - null
    /changes:
      displayName: changes
      get:
        description: |-
          Get the changes for a movie. By default only the last 24 hours are returned.

          You can query up to 14 days in a single query by using the `start_date` and `end_date` query parameters.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"changes\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"key\": {\n                        \"type\": \"string\"\n                    },\n                    \"items\": {\n                        \"type\": \"array\",\n                        \"items\": {\n                            \"type\": \"object\",\n                            \"properties\": {\n                                \"id\": {\n                                    \"type\": \"string\"\n                                },\n                                \"action\": {\n                                    \"type\": \"string\"\n                                },\n                                \"time\": {\n                                    \"type\": \"string\"\n                                },\n                                \"iso_639_1\": {\n                                    \"type\": \"string\"\n                                },\n                                \"value\": {\n                                    \"type\": \"string\"\n                                },\n                                \"original_value\": {\n                                    \"type\": \"string\"\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    }\n}",
                  "example": "{\n    \"changes\": [\n        {\n            \"key\": \"overview\",\n            \"items\": [\n                {\n                    \"id\": \"57c464ef5dbf5b15a6000007\",\n                    \"action\": \"updated\",\n                    \"time\": \"2016-08-29 16:38:07 UTC\",\n                    \"iso_639_1\": \"en\",\n                    \"value\": \"When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure!\",\n                    \"original_value\": \"When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.\"\n                }\n            ]\n        }\n    ]\n}"
                }
        securedBy:
          - null
    /lists:
      displayName: lists
      get:
        description: Get a list of lists that this movie belongs to.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"page\": {\n            \"type\": \"integer\"\n        },\n        \"results\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"description\": {\n                        \"type\": \"string\"\n                    },\n                    \"favorite_count\": {\n                        \"type\": \"integer\"\n                    },\n                    \"id\": {\n                        \"type\": \"integer\"\n                    },\n                    \"item_count\": {\n                        \"type\": \"integer\"\n                    },\n                    \"iso_639_1\": {\n                        \"type\": \"string\"\n                    },\n                    \"list_type\": {\n                        \"type\": \"string\"\n                    },\n                    \"name\": {\n                        \"type\": \"string\"\n                    },\n                    \"poster_path\": {\n                        \"type\": [\n                            \"null\",\n                            \"string\"\n                        ]\n                    }\n                }\n            }\n        },\n        \"total_pages\": {\n            \"type\": \"integer\"\n        },\n        \"total_results\": {\n            \"type\": \"integer\"\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"page\": 1,\n    \"results\": [\n        {\n            \"description\": \"Pick one and then one or two alternates\",\n            \"favorite_count\": 0,\n            \"id\": 7213,\n            \"item_count\": 1358,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Movie Night\",\n            \"poster_path\": \"/p60VSQL7usdxztIGokJPpHmKWdU.jpg\"\n        },\n        {\n            \"description\": \"Your favorite and classic movies of the 1990s\",\n            \"favorite_count\": 0,\n            \"id\": 6968,\n            \"item_count\": 482,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"1990\",\n            \"poster_path\": \"/5R68Xn4EG0g5qlaQxpE89zGrtes.jpg\"\n        },\n        {\n            \"description\": \"All the movies I own on vhs/dvd/bluray or digital.\",\n            \"favorite_count\": 0,\n            \"id\": 9660,\n            \"item_count\": 3299,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"My Film Collection\",\n            \"poster_path\": \"/3TsnEEkBRfQ1b7Gi2FTsuxHFUZq.jpg\"\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 8085,\n            \"item_count\": 23,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Twists and Shouts\",\n            \"poster_path\": \"/drzZQfdyoAq7pXq4EPI2aZKyGD5.jpg\"\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 12031,\n            \"item_count\": 475,\n            \"iso_639_1\": \"fr\",\n            \"list_type\": \"movie\",\n            \"name\": \"Films\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"List maintained by Movie Collection, the iOS app.\",\n            \"favorite_count\": 0,\n            \"id\": 1718,\n            \"item_count\": 610,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Movie Collection\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 11052,\n            \"item_count\": 478,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Movies\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"Weekly Box Office Nº1 from 1982\",\n            \"favorite_count\": 0,\n            \"id\": 5576,\n            \"item_count\": 647,\n            \"iso_639_1\": \"es\",\n            \"list_type\": \"movie\",\n            \"name\": \"Weekly Box Office Nº1 from 1982\",\n            \"poster_path\": \"/yTpKlgaNw3fEBndyDYPg3hRloR5.jpg\"\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 4023,\n            \"item_count\": 1072,\n            \"iso_639_1\": \"it\",\n            \"list_type\": \"movie\",\n            \"name\": \"Dvd collection\",\n            \"poster_path\": \"/sHGO5Ct2Vo0KPVnSEmSf3Zo5MIl.jpg\"\n        },\n        {\n            \"description\": \"Películas para recomendar\",\n            \"favorite_count\": 0,\n            \"id\": 10354,\n            \"item_count\": 33,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Peliculones\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 10141,\n            \"item_count\": 304,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"R3ST\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 5829,\n            \"item_count\": 396,\n            \"iso_639_1\": \"de\",\n            \"list_type\": \"movie\",\n            \"name\": \"Criss Filme\",\n            \"poster_path\": \"/gnNU653Lm0cCpdYDaOgjTREf6JI.jpg\"\n        },\n        {\n            \"description\": \"movies that I've watched\",\n            \"favorite_count\": 0,\n            \"id\": 6357,\n            \"item_count\": 1690,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"watched\",\n            \"poster_path\": \"/7o7fCNaruJGrTjWpmmK2jj8rE7Q.jpg\"\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 9267,\n            \"item_count\": 121,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Dangerous Hill Classics\",\n            \"poster_path\": \"/f7KYM1uO8f2duhoSY3Bps55mIe.jpg\"\n        },\n        {\n            \"description\": \"List maintained by Movie Collection, the iOS app.\",\n            \"favorite_count\": 0,\n            \"id\": 3136,\n            \"item_count\": 185,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Movie Collection\",\n            \"poster_path\": \"/koLwUfgmlT2kr0twamPJ8l6eQIp.jpg\"\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 4557,\n            \"item_count\": 591,\n            \"iso_639_1\": \"hu\",\n            \"list_type\": \"movie\",\n            \"name\": \"Watched\",\n            \"poster_path\": \"/43pgav2uIG0ZNGdcaZX1v073ITv.jpg\"\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 12467,\n            \"item_count\": 13,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Bradd\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"\",\n            \"favorite_count\": 0,\n            \"id\": 4280,\n            \"item_count\": 390,\n            \"iso_639_1\": \"it\",\n            \"list_type\": \"movie\",\n            \"name\": \"MY COLLECTION\",\n            \"poster_path\": \"/noLXB6fiDAl9uC6O2W26kCDXIFl.jpg\"\n        },\n        {\n            \"description\": \"Movies that I have watched.\",\n            \"favorite_count\": 0,\n            \"id\": 10482,\n            \"item_count\": 567,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"Watched\",\n            \"poster_path\": null\n        },\n        {\n            \"description\": \"DVDs I have\",\n            \"favorite_count\": 0,\n            \"id\": 11773,\n            \"item_count\": 1158,\n            \"iso_639_1\": \"en\",\n            \"list_type\": \"movie\",\n            \"name\": \"DVD Collection\",\n            \"poster_path\": null\n        }\n    ],\n    \"total_pages\": 18,\n    \"total_results\": 358\n}"
                }
        queryParameters:
          api_key:
            type: string
        securedBy:
          - null
    /reviews:
      displayName: reviews
      get:
        description: Get the user reviews for a movie.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"page\": {\n            \"type\": \"integer\"\n        },\n        \"results\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"id\": {\n                        \"type\": \"string\"\n                    },\n                    \"author\": {\n                        \"type\": \"string\"\n                    },\n                    \"content\": {\n                        \"type\": \"string\"\n                    },\n                    \"url\": {\n                        \"type\": \"string\"\n                    }\n                }\n            }\n        },\n        \"total_pages\": {\n            \"type\": \"integer\"\n        },\n        \"total_results\": {\n            \"type\": \"integer\"\n        }\n    }\n}",
                  "example": "{\n    \"id\": 297761,\n    \"page\": 1,\n    \"results\": [\n        {\n            \"id\": \"57a814dc9251415cfb00309a\",\n            \"author\": \"Frank Ochieng\",\n            \"content\": \"Summertime 2016 has not been very kind to DC Comics-based personalities looking to shine consistently like their big screen Marvel Comics counterparts. Following the super-sized dud that was _Batman v. Superman: Dawn of Justice_ released a few months ago must really put some major pressure on Warner Bros. to gamble on ensuring that the presence of **Suicide Squad** does not meet the same kind of indifferent reception. Well, it turns out that although the anticipation was high for writer-director David Ayer's supervillain saga involving high-powered imprisoned rogues recruited as U.S. governmental operatives out to stop other skillful baddies (as it was for Zack Ryder's aforementioned \\\"Dawn of Justice\\\") the concoction of **Suicide Squad** feels like a colorful mishmash of collective misfits laboriously taking up space in a disjointed eye candy-coated spectacle that never manages to match its intended sizzle.\\r\\n\\r\\nOne would think that the premise for **Suicide Squad** would tap into the intriguing naughtiness with more robust gumption given the collection of super-powered oddballs asked to be immediate anti-heroes in this toothless jamboree of renegade rejects. Strangely, the grim and brooding presentation of **Suicide Squad** is more of an erratic downer than a hyperactive high-wire act as intended at the creative hands of Ayer. There is no reason why this lively group of adventurous agitators should appear so flat and inconsequential in a boisterous blockbuster that sporadically limps.\\r\\n\\r\\nGiven the twisted members that comprise this elite team of terrorizing tools it is very disappointing to see how **Suicide Squad** struggles with its so-called subversive themes. Sadly, this splattered mess never firmly grasps its bid for distinctive irreverence or off-balance exploitation. Instead, **Squad** feels strained in its execution and we are never really invested in entirely watching these treasured troublemakers find redemption because the story is soggy and uninspired. Furthermore, not all of the **Squad** participants are fleshed out satisfyingly for us to get behind with thirsty cynicism. The headlining leads in Will Smith's Floyd Lawton/Deadshot, Oscar-winner Jared Leto's green-haired Joker and Australian beauty Margot Robbie's Harleen Quinzel/Harley Quinn get the meaty standout parts while the lesser known supporting cast get stuck with chewing on the thankless remaining bone while seemingly acting as background furniture to the bigger names.\\r\\n\\r\\nNaturally, desperation has set in for the U.S. government as they need to safeguard national security against advanced sinister forces that threaten the fiber of American self-interests everywhere. What better way to hire gifted protection than to consider employing the world's most incarcerated corruptible, cutthroat cretins to perform the dirty work in unforgivable mission ops that require death-defying determination. Enter U.S. Intelligence agent Amanda Waller (Oscar nominee Viola Davis). Waller's duties are to assemble the ragtag team known as the Suicide Squad--ominous (yet talented) jailbirds tapped to step in and assume superhero status (especially when the real superheroes are tied up in other crime-stopping affairs) while helping out for the greater good of our vulnerable society. In exchange for the Suicide Squad's sacrifice in turning from hell-bent heels to reluctant heralded heroes they are promised commuted prison sentences should they effectively defend and destroy the deadly foes out to promote heavy-handed havoc across the board.\\r\\n\\r\\nConveniently, bureaucratic bigwig Waller (through voiceover) introduces the Suicide Squad and describes what beneficial assets they bring to the turbulent table. Among the naughty notables include the well-known ace sniper Floyd Lawton/Deadshot as well as legendary lethal joy-boy Joker and his better (or perhaps worst half) in girlfriend Harley Quinn. The other toxic tag-a-longs along for the thrill ride of becoming rebellious rescuers include George Harkness/Boomerang (Jai Courtney), Chato Santana/El Diablo (Jay Hernandez), Waylon Jones/Killer Croc (Adewale Akinnuoye-Agbaje), Tatsu Yamashiro/Katana, Enchantress (Cara Delevingne) and Rick Flag (Joel Kinnaman).\\r\\n\\r\\nOverall, **Suicide Squad** is surprisingly depressing and goes through the proverbial motions without so much as taking advantage of its surrealistic makeup. The movie never realizes its excitable potential and drifts into yet another superhero yarn that is more patchy than pronounced. Smith's Deadshot is out in the forefront but for the most part feels restrained and not as spry and savvy as one would imagine. Leto's Joker obviously pales in comparison to the brilliant and mesmerizing psychotic take on the role that earned the late Heath Ledger his posthumous Oscar statuette. In all fairness, nobody could inhabit the Clown Prince of Crime as Ledger uncannily did with committed concentration. Still, Leto's Joker--although viciously off-balance--felt recycled and furiously empty at times. Robbie's turn as Joker's misguided main squeeze merely comes off as a bratty Barbie Doll with synthetic edginess. The other **Squad** participants settle for the back burner more or less which is a crying shame because they should have been more engaged than the tepid material allowed them to be initially.\\r\\n\\r\\nWoefully sketchy and missing the fueled opulence that one would expect emerging from this cockeyed costume caper **Suicide Squad** is a detonating dud for the missing explosive DC Comics movie brand that needs to step up the pace if they expect to make a consistent and challenging impression on the devoted fanboys at the box office looking to move beyond the sardonic fantasy-based realm of another redundant serving of a _Batman/Superman_ entry.\\r\\n\\r\\n**Suicide Squad** (2016)\\r\\n\\r\\nWarner Bros.\\r\\n\\r\\n2 hrs. 3 mins.\\r\\n\\r\\nStarring: Will Smith, Jared Leto, Margo Robbie, Viola Davis, Joel Kinnaman, Jay Hernandez, Jai Courtney, Scott Eastwood, Adewale Akinnuoye-Agbaje, Ike Barinholtz, Common, Cara Delevinge, Karen Fukuhara, Adam Beach\\r\\n\\r\\nDirected and Written by: David Ayer\\r\\n\\r\\nMPPA Rating: PG-13\\r\\n\\r\\nGenre: Superheroes Saga/Action & Adventure/Comic Book Fantasy\\r\\n\\r\\nCritic's rating: ** stars (out of 4 stars)\\r\\n\\r\\n(c) **Frank Ochieng** (2016)\",\n            \"url\": \"https://www.themoviedb.org/review/57a814dc9251415cfb00309a\"\n        }\n    ],\n    \"total_pages\": 1,\n    \"total_results\": 1\n}"
                }
        queryParameters:
          api_key:
            type: string
        securedBy:
          - null
    /credits:
      displayName: credits
      get:
        description: Get the cast and crew for a movie.
        is:
          - standardErrors
        responses:
          '200':
            body:
              application/json: |-
                {
                  "schema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"integer\"\n        },\n        \"cast\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"cast_id\": {\n                        \"type\": \"integer\"\n                    },\n                    \"character\": {\n                        \"type\": \"string\"\n                    },\n                    \"credit_id\": {\n                        \"type\": \"string\"\n                    },\n                    \"gender\": {\n                        \"type\": [\n                            \"integer\",\n                            \"null\"\n                        ]\n                    },\n                    \"id\": {\n                        \"type\": \"integer\"\n                    },\n                    \"name\": {\n                        \"type\": \"string\"\n                    },\n                    \"order\": {\n                        \"type\": \"integer\"\n                    },\n                    \"profile_path\": {\n                        \"type\": \"image-path\"\n                    }\n                }\n            }\n        },\n        \"crew\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"credit_id\": {\n                        \"type\": \"string\"\n                    },\n                    \"department\": {\n                        \"type\": \"string\"\n                    },\n                    \"gender\": {\n                        \"type\": [\n                            \"integer\",\n                            \"null\"\n                        ]\n                    },\n                    \"id\": {\n                        \"type\": \"integer\"\n                    },\n                    \"job\": {\n                        \"type\": \"string\"\n                    },\n                    \"name\": {\n                        \"type\": \"string\"\n                    },\n                    \"profile_path\": {\n                        \"type\": \"image-path\"\n                    }\n                }\n            }\n        }\n    }\n}",
                  "example": "{\n    \"id\": 550,\n    \"cast\": [\n        {\n            \"cast_id\": 4,\n            \"character\": \"The Narrator\",\n            \"credit_id\": \"52fe4250c3a36847f80149f3\",\n            \"gender\": 2,\n            \"id\": 819,\n            \"name\": \"Edward Norton\",\n            \"order\": 0,\n            \"profile_path\": \"/eIkFHNlfretLS1spAcIoihKUS62.jpg\"\n        },\n        {\n            \"cast_id\": 5,\n            \"character\": \"Tyler Durden\",\n            \"credit_id\": \"52fe4250c3a36847f80149f7\",\n            \"gender\": 2,\n            \"id\": 287,\n            \"name\": \"Brad Pitt\",\n            \"order\": 1,\n            \"profile_path\": \"/kc3M04QQAuZ9woUvH3Ju5T7ZqG5.jpg\"\n        },\n        {\n            \"cast_id\": 7,\n            \"character\": \"Robert 'Bob' Paulson\",\n            \"credit_id\": \"52fe4250c3a36847f80149ff\",\n            \"gender\": 2,\n            \"id\": 7470,\n            \"name\": \"Meat Loaf\",\n            \"order\": 2,\n            \"profile_path\": \"/43nyfW3TxD3PxDqYB8tyqaKpDBH.jpg\"\n        },\n        {\n            \"cast_id\": 30,\n            \"character\": \"Angel Face\",\n            \"credit_id\": \"52fe4250c3a36847f8014a51\",\n            \"gender\": 2,\n            \"id\": 7499,\n            \"name\": \"Jared Leto\",\n            \"order\": 3,\n            \"profile_path\": \"/msugySeTCyCmlRWtyB6sMixTQYY.jpg\"\n        },\n        {\n            \"cast_id\": 6,\n            \"character\": \"Marla Singer\",\n            \"credit_id\": \"52fe4250c3a36847f80149fb\",\n            \"gender\": 1,\n            \"id\": 1283,\n            \"name\": \"Helena Bonham Carter\",\n            \"order\": 4,\n            \"profile_path\": \"/rHZMwkumoRvhKV5ZvwBONKENAhG.jpg\"\n        },\n        {\n            \"cast_id\": 31,\n            \"character\": \"Richard Chesler\",\n            \"credit_id\": \"52fe4250c3a36847f8014a55\",\n            \"gender\": 2,\n            \"id\": 7471,\n            \"name\": \"Zach Grenier\",\n            \"order\": 5,\n            \"profile_path\": \"/kYijshMQiGA3RP8bXFZ93GR4j8W.jpg\"\n        },\n        {\n            \"cast_id\": 32,\n            \"character\": \"The Mechanic\",\n            \"credit_id\": \"52fe4250c3a36847f8014a59\",\n            \"gender\": 2,\n            \"id\": 7497,\n            \"name\": \"Holt McCallany\",\n            \"order\": 6,\n            \"profile_path\": \"/5Mw4StSwWwTLyBapXz9nOg7iUl5.jpg\"\n        },\n        {\n            \"cast_id\": 33,\n            \"character\": \"Ricky\",\n            \"credit_id\": \"52fe4250c3a36847f8014a5d\",\n            \"gender\": 2,\n            \"id\": 7498,\n            \"name\": \"Eion Bailey\",\n            \"order\": 7,\n            \"profile_path\": \"/4MnRgrwuiJvHsfoiJrIUL4TkfoC.jpg\"\n        },\n        {\n            \"cast_id\": 34,\n            \"character\": \"Intern\",\n            \"credit_id\": \"52fe4250c3a36847f8014a61\",\n            \"gender\": 0,\n            \"id\": 7472,\n            \"name\": \"Richmond Arquette\",\n            \"order\": 8,\n            \"profile_path\": \"/xW4bb2qsPYilO27ex4Xoy2Ik1Ai.jpg\"\n        },\n        {\n            \"cast_id\": 35,\n            \"character\": \"Thomas\",\n            \"credit_id\": \"52fe4250c3a36847f8014a65\",\n            \"gender\": 0,\n            \"id\": 7219,\n            \"name\": \"David Andrews\",\n            \"order\": 9,\n            \"profile_path\": \"/pxmxn29UHW9r6uvLrd7bEwLswlQ.jpg\"\n        },\n        {\n            \"cast_id\": 36,\n            \"character\": \"Group Leader\",\n            \"credit_id\": \"52fe4250c3a36847f8014a69\",\n            \"gender\": 1,\n            \"id\": 68277,\n            \"name\": \"Christina Cabot\",\n            \"order\": 10,\n            \"profile_path\": \"/7UBTv5lW6apPdVLnOqTTBMTJWwY.jpg\"\n        },\n        {\n            \"cast_id\": 37,\n            \"character\": \"Inspector Bird\",\n            \"credit_id\": \"52fe4250c3a36847f8014a6d\",\n            \"gender\": 0,\n            \"id\": 956719,\n            \"name\": \"Tim DeZarn\",\n            \"order\": 11,\n            \"profile_path\": \"/bvj6Kaq1VzAEBkqCGVDvOaQKOhi.jpg\"\n        },\n        {\n            \"cast_id\": 38,\n            \"character\": \"Inspector Dent\",\n            \"credit_id\": \"52fe4250c3a36847f8014a71\",\n            \"gender\": 0,\n            \"id\": 59285,\n            \"name\": \"Ezra Buzzington\",\n            \"order\": 12,\n            \"profile_path\": \"/dl0SIqpOqS05UpJHKuDQqZTwUvP.jpg\"\n        },\n        {\n            \"cast_id\": 39,\n            \"character\": \"Airport Security Officer\",\n            \"credit_id\": \"52fe4250c3a36847f8014a75\",\n            \"gender\": 2,\n            \"id\": 17449,\n            \"name\": \"Bob Stephenson\",\n            \"order\": 13,\n            \"profile_path\": \"/jHjchnxDsghomSglNryppVWdBGC.jpg\"\n        },\n        {\n            \"cast_id\": 40,\n            \"character\": \"Walter\",\n            \"credit_id\": \"52fe4250c3a36847f8014a79\",\n            \"gender\": 0,\n            \"id\": 56112,\n            \"name\": \"David Lee Smith\",\n            \"order\": 14,\n            \"profile_path\": \"/xYkMA9AWtUN93KV5hWzlDkcnebB.jpg\"\n        },\n        {\n            \"cast_id\": 42,\n            \"character\": \"Lou's Body Guard\",\n            \"credit_id\": \"52fe4250c3a36847f8014a81\",\n            \"gender\": 2,\n            \"id\": 42824,\n            \"name\": \"Carl Ciarfalio\",\n            \"order\": 15,\n            \"profile_path\": \"/1JyIKBSkpK1tADOXpYYrO1khcQH.jpg\"\n        },\n        {\n            \"cast_id\": 43,\n            \"character\": \"Car Salesman\",\n            \"credit_id\": \"52fe4251c3a36847f8014a85\",\n            \"gender\": 0,\n            \"id\": 40277,\n            \"name\": \"Stuart Blumberg\",\n            \"order\": 16,\n            \"profile_path\": \"/nvHQBUin3CXD0kBsET1KBNaiekW.jpg\"\n        },\n        {\n            \"cast_id\": 44,\n            \"character\": \"Man at Auto Shop\",\n            \"credit_id\": \"52fe4251c3a36847f8014a89\",\n            \"gender\": 0,\n            \"id\": 122805,\n            \"name\": \"Mark Fite\",\n            \"order\": 17,\n            \"profile_path\": \"/A46OLuNRFPu1NA61VQBf0NzQNFN.jpg\"\n        },\n        {\n            \"cast_id\": 45,\n            \"character\": \"Seminary Student\",\n            \"credit_id\": \"52fe4251c3a36847f8014a8d\",\n            \"gender\": 2,\n            \"id\": 35521,\n            \"name\": \"Matt Winston\",\n            \"order\": 18,\n            \"profile_path\": \"/vjXom4PhSWEkXlQDhh8ubTFoiIq.jpg\"\n        },\n        {\n            \"cast_id\": 46,\n            \"character\": \"Channel 4 Reporter\",\n            \"credit_id\": \"52fe4251c3a36847f8014a91\",\n            \"gender\": 1,\n            \"id\": 1224996,\n            \"name\": \"Lauren Sánchez\",\n            \"order\": 19,\n            \"profile_path\": \"/iQ16P9a8TEzb4WsN8fjLsMCtvMA.jpg\"\n        },\n        {\n            \"cast_id\": 41,\n            \"character\": \"Detective Stern\",\n            \"credit_id\": \"52fe4250c3a36847f8014a7d\",\n            \"gender\": 0,\n            \"id\": 1219497,\n            \"name\": \"Thom Gossom Jr.\",\n            \"order\": 20,\n            \"profile_path\": \"/8je5ISnUinU4RfjRGqW0ktZLneX.jpg\"\n        },\n        {\n            \"cast_id\": 52,\n            \"character\": \"Detective Kevin\",\n            \"credit_id\": \"52fe4251c3a36847f8014aa9\",\n            \"gender\": 0,\n            \"id\": 1226835,\n            \"name\": \"Markus Redmond\",\n            \"order\": 21,\n            \"profile_path\": \"/yxMbPCGa8rMSrquc8v4UN7QLlWX.jpg\"\n        },\n        {\n            \"cast_id\": 51,\n            \"character\": \"Detective Andrew\",\n            \"credit_id\": \"52fe4251c3a36847f8014aa5\",\n            \"gender\": 0,\n            \"id\": 41352,\n            \"name\": \"Van Quattro\",\n            \"order\": 22,\n            \"profile_path\": \"/kNmOCRKD6PyG8t9tcDOpBFOrast.jpg\"\n        },\n        {\n            \"cast_id\": 84,\n            \"character\": \"Detective Walker\",\n            \"credit_id\": \"588651eac3a3684628003490\",\n            \"gender\": 0,\n            \"id\": 177175,\n            \"name\": \"Michael Girardin\",\n            \"order\": 23,\n            \"profile_path\": \"/SMcjobWI3ruYfnSu56Se5mOMQX.jpg\"\n        },\n        {\n            \"cast_id\": 47,\n            \"character\": \"Policeman\",\n            \"credit_id\": \"52fe4251c3a36847f8014a95\",\n            \"gender\": 2,\n            \"id\": 109100,\n            \"name\": \"David Jean Thomas\",\n            \"order\": 24,\n            \"profile_path\": \"/f5YBSiswUU9rctXbJQoXi0CdJBn.jpg\"\n        },\n        {\n            \"cast_id\": 48,\n            \"character\": \"Salvator, Winking Bartender\",\n            \"credit_id\": \"52fe4251c3a36847f8014a99\",\n            \"gender\": 0,\n            \"id\": 1221838,\n            \"name\": \"Paul Carafotes\",\n            \"order\": 25,\n            \"profile_path\": \"/enoYGFhHwLqKacISwjxk5yrFAOA.jpg\"\n        },\n        {\n            \"cast_id\": 49,\n            \"character\": \"Proprietor of Dry Cleaners\",\n            \"credit_id\": \"52fe4251c3a36847f8014a9d\",\n            \"gender\": 2,\n            \"id\": 145531,\n            \"name\": \"Christopher John Fields\",\n            \"order\": 26,\n            \"profile_path\": \"/jTWw4B74VhrPo8AN6Q9jq31eYDD.jpg\"\n        },\n        {\n            \"cast_id\": 50,\n            \"character\": \"Bartender in Halo\",\n            \"credit_id\": \"52fe4251c3a36847f8014aa1\",\n            \"gender\": 0,\n            \"id\": 9291,\n            \"name\": \"Michael Shamus Wiles\",\n            \"order\": 27,\n            \"profile_path\": \"/upfSW6BGze446iqsZRehzcToNm8.jpg\"\n        },\n        {\n            \"cast_id\": 59,\n            \"character\": \"Group Leader\",\n            \"credit_id\": \"581fce4c92514168ad00899d\",\n            \"gender\": 0,\n            \"id\": 1129738,\n            \"name\": \"George Maguire\",\n            \"order\": 28,\n            \"profile_path\": \"/u7eyYwbcxhYYlfUbsyhu7WBsJfW.jpg\"\n        },\n        {\n            \"cast_id\": 60,\n            \"character\": \"Weeping Woman\",\n            \"credit_id\": \"581fce7fc3a368555600847b\",\n            \"gender\": 1,\n            \"id\": 1317693,\n            \"name\": \"Eugenie Bondurant\",\n            \"order\": 29,\n            \"profile_path\": \"/e0kJKzmTuSS1Uk2S9Yaw6633HN3.jpg\"\n        },\n        {\n            \"cast_id\": 61,\n            \"character\": \"Speaker\",\n            \"credit_id\": \"581fcf3a92514168ad008b09\",\n            \"gender\": 2,\n            \"id\": 202080,\n            \"name\": \"Sydney 'Big Dawg' Colston\",\n            \"order\": 30,\n            \"profile_path\": \"/ofu7Z6xXpCpb4PJpOpbsH16cDR9.jpg\"\n        },\n        {\n            \"cast_id\": 62,\n            \"character\": \"Chloe\",\n            \"credit_id\": \"581fcf5d92514168aa008b9e\",\n            \"gender\": 1,\n            \"id\": 7473,\n            \"name\": \"Rachel Singer\",\n            \"order\": 31,\n            \"profile_path\": \"/gwCAgdmUkZg1LHjn9uZuiAwul8X.jpg\"\n        },\n        {\n            \"cast_id\": 63,\n            \"character\": \"Airline Attendant\",\n            \"credit_id\": \"581fd16ec3a36855530096a4\",\n            \"gender\": 1,\n            \"id\": 1172435,\n            \"name\": \"Christie Cronenweth\",\n            \"order\": 32,\n            \"profile_path\": \"/wQsaa133xR8klRucMHtoAedeMzc.jpg\"\n        },\n        {\n            \"cast_id\": 64,\n            \"character\": \"Woman on Plane\",\n            \"credit_id\": \"581fd575c3a36855630075c4\",\n            \"gender\": 1,\n            \"id\": 1705289,\n            \"name\": \"Dierdre Downing-Jackson\",\n            \"order\": 33,\n            \"profile_path\": \"/oqxygdk5UPsl7afucfq8Nxj3tpc.jpg\"\n        },\n        {\n            \"cast_id\": 65,\n            \"character\": \"Doorman\",\n            \"credit_id\": \"581fd6bcc3a3685556008e6b\",\n            \"gender\": 0,\n            \"id\": 62846,\n            \"name\": \"Charlie Dell\",\n            \"order\": 34,\n            \"profile_path\": \"/z0JgZxazJAVlHxLYXWM8eUZlOk8.jpg\"\n        },\n        {\n            \"cast_id\": 66,\n            \"character\": \"Man in Suit\",\n            \"credit_id\": \"581fd6e192514168ad0093bc\",\n            \"gender\": 2,\n            \"id\": 530040,\n            \"name\": \"Rob Lanza\",\n            \"order\": 35,\n            \"profile_path\": \"/7vQAlOkqsJb8J6LEGeVd5xmlNlU.jpg\"\n        },\n        {\n            \"cast_id\": 67,\n            \"character\": \"Food Court Maitre D'\",\n            \"credit_id\": \"581fd956c3a368554d009932\",\n            \"gender\": 0,\n            \"id\": 137425,\n            \"name\": \"Joel Bissonnette\",\n            \"order\": 36,\n            \"profile_path\": \"/2JrM1KCF0kjSlfqPUr3lfq9HFVD.jpg\"\n        },\n        {\n            \"cast_id\": 68,\n            \"character\": \"Steph\",\n            \"credit_id\": \"581fda0292514168af009523\",\n            \"gender\": 2,\n            \"id\": 175120,\n            \"name\": \"Evan Mirand\",\n            \"order\": 37,\n            \"profile_path\": \"/7g5eTHXJ4F10CcUoNKhPRmRncqS.jpg\"\n        },\n        {\n            \"cast_id\": 69,\n            \"character\": \"Next Month's Opponent\",\n            \"credit_id\": \"58864e17925141107e0008b4\",\n            \"gender\": 0,\n            \"id\": 1744132,\n            \"name\": \"Robby Robinson\",\n            \"order\": 38,\n            \"profile_path\": \"/sQx9PWf8PtBqvERvMDZbCfjZrR3.jpg\"\n        },\n        {\n            \"cast_id\": 70,\n            \"character\": \"Cop at Marla's Building\",\n            \"credit_id\": \"58864e2fc3a3684480002f96\",\n            \"gender\": 2,\n            \"id\": 168924,\n            \"name\": \"Lou Beatty Jr.\",\n            \"order\": 39,\n            \"profile_path\": \"/vgw7D3yM7ki7Y6TOFNZRqi96E08.jpg\"\n        },\n        {\n            \"cast_id\": 71,\n            \"character\": \"Susan, Comsetics Dealer\",\n            \"credit_id\": \"58864fa392514113ea00076f\",\n            \"gender\": 0,\n            \"id\": 157938,\n            \"name\": \"Valerie Bickford\",\n            \"order\": 40,\n            \"profile_path\": \"/ipMs4d6trwAReFp1QKbsZgAYDmv.jpg\"\n        },\n        {\n            \"cast_id\": 72,\n            \"character\": \"Lou\",\n            \"credit_id\": \"58864fdac3a36845e6002f78\",\n            \"gender\": 0,\n            \"id\": 7500,\n            \"name\": \"Peter Iacangelo\",\n            \"order\": 41,\n            \"profile_path\": \"/mmYWw6sWibxbFK7LuO4qFUnO9G0.jpg\"\n        },\n        {\n            \"cast_id\": 73,\n            \"character\": \"Man #1 at Auto Shop\",\n            \"credit_id\": \"5886500492514113ea000859\",\n            \"gender\": 0,\n            \"id\": 1744135,\n            \"name\": \"Todd Peirce\",\n            \"order\": 42,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 74,\n            \"character\": \"Raymond K. Hessel\",\n            \"credit_id\": \"58865057c3a36843c80032d9\",\n            \"gender\": 0,\n            \"id\": 1744137,\n            \"name\": \"Joon Kim\",\n            \"order\": 43,\n            \"profile_path\": \"/iEMEz4B05UfKYefo2rcFk5wAfxu.jpg\"\n        },\n        {\n            \"cast_id\": 75,\n            \"character\": \"Bus Driver with Broken Nose\",\n            \"credit_id\": \"588650819251411bb4000042\",\n            \"gender\": 0,\n            \"id\": 1636371,\n            \"name\": \"Bennie Moore\",\n            \"order\": 44,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 76,\n            \"character\": \"Police Commissioner Jacobs\",\n            \"credit_id\": \"588650a5925141125e000bcd\",\n            \"gender\": 0,\n            \"id\": 1174793,\n            \"name\": \"Pat McNamara\",\n            \"order\": 45,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 77,\n            \"character\": \"Banquest Speaker\",\n            \"credit_id\": \"588650b7c3a3684628003283\",\n            \"gender\": 0,\n            \"id\": 1744138,\n            \"name\": \"Tyrone R. Livingston\",\n            \"order\": 46,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 78,\n            \"character\": \"Airport Valet\",\n            \"credit_id\": \"588650cb925141107e000e39\",\n            \"gender\": 0,\n            \"id\": 1744139,\n            \"name\": \"Owen Masterson\",\n            \"order\": 47,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 79,\n            \"character\": \"Bruised Bar Patron #1\",\n            \"credit_id\": \"58865114c3a36843020036a1\",\n            \"gender\": 0,\n            \"id\": 1744140,\n            \"name\": \"Anderson Bourell\",\n            \"order\": 48,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 80,\n            \"character\": \"Bruised Bar Patron #2\",\n            \"credit_id\": \"5886512c92514116ac000756\",\n            \"gender\": 0,\n            \"id\": 63537,\n            \"name\": \"Scotch Ellis Loring\",\n            \"order\": 49,\n            \"profile_path\": \"/7Tk72GCd4TLfJj16EvVroEtMv86.jpg\"\n        },\n        {\n            \"cast_id\": 81,\n            \"character\": \"Hotel Desk Clerk\",\n            \"credit_id\": \"5886514992514113ea000ae7\",\n            \"gender\": 1,\n            \"id\": 170315,\n            \"name\": \"Andi Carnick\",\n            \"order\": 50,\n            \"profile_path\": \"/ry0Nx6P0NRRO6NUnonQzxL6qaRz.jpg\"\n        },\n        {\n            \"cast_id\": 82,\n            \"character\": \"Waiter at Clifton's\",\n            \"credit_id\": \"588651a192514116ac00088a\",\n            \"gender\": 0,\n            \"id\": 1707776,\n            \"name\": \"Edward Kowalczyk\",\n            \"order\": 51,\n            \"profile_path\": \"/iFCGPfmFahEuRda1OWEZ8WPiy6Y.jpg\"\n        },\n        {\n            \"cast_id\": 83,\n            \"character\": \"Desk Sergeant\",\n            \"credit_id\": \"588651b59251411158000f3f\",\n            \"gender\": 2,\n            \"id\": 7140,\n            \"name\": \"Leonard Termo\",\n            \"order\": 52,\n            \"profile_path\": \"/jdXgGMSpQGeN6vCZO5OM758dh3t.jpg\"\n        },\n        {\n            \"cast_id\": 85,\n            \"character\": \"BMW Salesman\",\n            \"credit_id\": \"5886520ec3a36843c80035ea\",\n            \"gender\": 0,\n            \"id\": 74507,\n            \"name\": \"Michael Arturo\",\n            \"order\": 53,\n            \"profile_path\": \"/yMm3LVd8tm63B3e3DF415U5qRaI.jpg\"\n        },\n        {\n            \"cast_id\": 86,\n            \"character\": \"Fight Spectator\",\n            \"credit_id\": \"58865232c3a3684628003526\",\n            \"gender\": 2,\n            \"id\": 1383838,\n            \"name\": \"Greg Bronson\",\n            \"order\": 54,\n            \"profile_path\": \"/t8tzdPzXoSDqvg5XaCK5JNtQRYD.jpg\"\n        },\n        {\n            \"cast_id\": 87,\n            \"character\": \"Fighter\",\n            \"credit_id\": \"58865242925141107e00117f\",\n            \"gender\": 0,\n            \"id\": 1194120,\n            \"name\": \"Matt Cinquanta\",\n            \"order\": 55,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 88,\n            \"character\": \"Champion Fighter\",\n            \"credit_id\": \"58865252c3a36843c8003665\",\n            \"gender\": 0,\n            \"id\": 1744141,\n            \"name\": \"Tommy Dallace\",\n            \"order\": 56,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 89,\n            \"character\": \"Irvin\",\n            \"credit_id\": \"58865265c3a3684628003584\",\n            \"gender\": 0,\n            \"id\": 13925,\n            \"name\": \"Paul Dillon\",\n            \"order\": 57,\n            \"profile_path\": \"/6jouXtMcbJ7nTuDNwvaePnqCHTX.jpg\"\n        },\n        {\n            \"cast_id\": 90,\n            \"character\": \"Vomiting Fight Spectator\",\n            \"credit_id\": \"5886527a9251411362000e93\",\n            \"gender\": 0,\n            \"id\": 1744142,\n            \"name\": \"Tom Falzone\",\n            \"order\": 58,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 91,\n            \"character\": \"Chanting Fighter\",\n            \"credit_id\": \"5886529f92514113ea000df8\",\n            \"gender\": 0,\n            \"id\": 552271,\n            \"name\": \"Eddie Hargitay\",\n            \"order\": 59,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 92,\n            \"character\": \"Banquest Guest\",\n            \"credit_id\": \"588652b5c3a3684480003740\",\n            \"gender\": 0,\n            \"id\": 94561,\n            \"name\": \"Phil Hawn\",\n            \"order\": 60,\n            \"profile_path\": \"/yrBuFzfaYIkglYj0NpVpdZB25F3.jpg\"\n        },\n        {\n            \"cast_id\": 93,\n            \"character\": \"Waiter in Bridgeworth Suites Corporate Video\",\n            \"credit_id\": \"588652d892514111a900118a\",\n            \"gender\": 0,\n            \"id\": 1223916,\n            \"name\": \"Bruce Holman\",\n            \"order\": 61,\n            \"profile_path\": \"/3qIP6JvcNfKCmSee2STHt3JE0Wy.jpg\"\n        },\n        {\n            \"cast_id\": 94,\n            \"character\": \"Fight Patron Saying 'I don't know. What's going on?'\",\n            \"credit_id\": \"588652f0c3a36845e60034af\",\n            \"gender\": 0,\n            \"id\": 1744143,\n            \"name\": \"Jawara\",\n            \"order\": 62,\n            \"profile_path\": \"/kkJsBMhO0kJN1hG6xW8qAXnzllP.jpg\"\n        },\n        {\n            \"cast_id\": 95,\n            \"character\": \"Waiter\",\n            \"credit_id\": \"58865312925141107e001361\",\n            \"gender\": 0,\n            \"id\": 1525014,\n            \"name\": \"Baron Jay\",\n            \"order\": 63,\n            \"profile_path\": \"/dsYI4aUxeqx1RizSqmxIsXhruS8.jpg\"\n        },\n        {\n            \"cast_id\": 96,\n            \"character\": \"Restaurant Maitre D'\",\n            \"credit_id\": \"58865333c3a36843c80037ef\",\n            \"gender\": 2,\n            \"id\": 1577360,\n            \"name\": \"Jim Jenkins\",\n            \"order\": 64,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 97,\n            \"character\": \"Passenger Clutching Armrest\",\n            \"credit_id\": \"5886535392514113ea000f8d\",\n            \"gender\": 0,\n            \"id\": 1403525,\n            \"name\": \"Kevin Scott Mack\",\n            \"order\": 65,\n            \"profile_path\": \"/a6eWi1R0BwPMQkKZpLaxyu1rXGa.jpg\"\n        },\n        {\n            \"cast_id\": 98,\n            \"character\": \"Fight Club Patron / Guy #2 in Video Store\",\n            \"credit_id\": \"5886536592514113ea000fbb\",\n            \"gender\": 0,\n            \"id\": 1744144,\n            \"name\": \"Trey Ore\",\n            \"order\": 66,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 99,\n            \"character\": \"Fight Spectator\",\n            \"credit_id\": \"5886537d9251411158001378\",\n            \"gender\": 0,\n            \"id\": 1744145,\n            \"name\": \"Louis Ortiz\",\n            \"order\": 67,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 100,\n            \"character\": \"Fight Club Man\",\n            \"credit_id\": \"58865398c3a36845e60035ea\",\n            \"gender\": 0,\n            \"id\": 1386468,\n            \"name\": \"Hugh Peddy\",\n            \"order\": 68,\n            \"profile_path\": \"/fB4Kyotps22hqd7G8ppur6i4KDN.jpg\"\n        },\n        {\n            \"cast_id\": 101,\n            \"character\": \"Fight Club Man\",\n            \"credit_id\": \"588653aa92514111580013f2\",\n            \"gender\": 0,\n            \"id\": 1744146,\n            \"name\": \"J.T. Pontino\",\n            \"order\": 69,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 102,\n            \"character\": \"Waiter\",\n            \"credit_id\": \"588653c8c3a36843c800390b\",\n            \"gender\": 0,\n            \"id\": 1744147,\n            \"name\": \"Chad Randau\",\n            \"order\": 70,\n            \"profile_path\": \"/Ao7XRsmXN35T3FpDA1zrCtx1MMe.jpg\"\n        },\n        {\n            \"cast_id\": 103,\n            \"character\": \"Fighter\",\n            \"credit_id\": \"588653ec92514113ea001123\",\n            \"gender\": 0,\n            \"id\": 133153,\n            \"name\": \"Marcio Rosario\",\n            \"order\": 71,\n            \"profile_path\": \"/d98hd1hEhnPtUTAc5SQ7PiSHLFJ.jpg\"\n        },\n        {\n            \"cast_id\": 104,\n            \"character\": \"Riley Wilde - Fighter\",\n            \"credit_id\": \"58865401c3a36817620006fc\",\n            \"gender\": 0,\n            \"id\": 1744148,\n            \"name\": \"Gregory Silva\",\n            \"order\": 72,\n            \"profile_path\": \"/tfajHRl56kJlqNhaW92XH9fj1vG.jpg\"\n        },\n        {\n            \"cast_id\": 105,\n            \"character\": \"Fight Bully\",\n            \"credit_id\": \"588654119251411bb40007f2\",\n            \"gender\": 0,\n            \"id\": 16060,\n            \"name\": \"Brian Tochi\",\n            \"order\": 73,\n            \"profile_path\": \"/2nAC2ssCFu74zkhg1722WQhArGO.jpg\"\n        },\n        {\n            \"cast_id\": 106,\n            \"character\": \"Bar Worker\",\n            \"credit_id\": \"58865423c3a36818e9000600\",\n            \"gender\": 0,\n            \"id\": 1744149,\n            \"name\": \"Alekxia Valdez\",\n            \"order\": 74,\n            \"profile_path\": null\n        },\n        {\n            \"cast_id\": 107,\n            \"character\": \"Support Group Member\",\n            \"credit_id\": \"58865450c3a3681eb70000ce\",\n            \"gender\": 0,\n            \"id\": 1744150,\n            \"name\": \"Michael Zagst\",\n            \"order\": 75,\n            \"profile_path\": \"/bqbjYLTFjE4aoYOntybwP2TmzEZ.jpg\"\n        },\n        {\n            \"cast_id\": 108,\n            \"character\": \"Man at the Club\",\n            \"credit_id\": \"58865460c3a3684480003a41\",\n            \"gender\": 0,\n            \"id\": 1744151,\n            \"name\": \"Gökhan Öncel\",\n            \"order\": 76,\n            \"profile_path\": null\n        }\n    ],\n    \"crew\": [\n        {\n            \"credit_id\": \"56380f0cc3a3681b5c0200be\",\n            \"department\": \"Writing\",\n            \"gender\": 0,\n            \"id\": 7469,\n            \"job\": \"Screenplay\",\n            \"name\": \"Jim Uhls\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a05\",\n            \"department\": \"Production\",\n            \"gender\": 0,\n            \"id\": 7474,\n            \"job\": \"Producer\",\n            \"name\": \"Ross Grayson Bell\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a0b\",\n            \"department\": \"Production\",\n            \"gender\": 0,\n            \"id\": 7475,\n            \"job\": \"Producer\",\n            \"name\": \"Ceán Chaffin\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a11\",\n            \"department\": \"Production\",\n            \"gender\": 0,\n            \"id\": 1254,\n            \"job\": \"Producer\",\n            \"name\": \"Art Linson\",\n            \"profile_path\": \"/dEtVivCXxQBtIzmJcUNupT1AB4H.jpg\"\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a17\",\n            \"department\": \"Sound\",\n            \"gender\": 0,\n            \"id\": 7477,\n            \"job\": \"Original Music Composer\",\n            \"name\": \"John King\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a1d\",\n            \"department\": \"Sound\",\n            \"gender\": 0,\n            \"id\": 7478,\n            \"job\": \"Original Music Composer\",\n            \"name\": \"Michael Simpson\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a23\",\n            \"department\": \"Camera\",\n            \"gender\": 0,\n            \"id\": 7479,\n            \"job\": \"Director of Photography\",\n            \"name\": \"Jeff Cronenweth\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a29\",\n            \"department\": \"Editing\",\n            \"gender\": 0,\n            \"id\": 7480,\n            \"job\": \"Editor\",\n            \"name\": \"James Haygood\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a2f\",\n            \"department\": \"Production\",\n            \"gender\": 0,\n            \"id\": 7481,\n            \"job\": \"Casting\",\n            \"name\": \"Laray Mayfield\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a35\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 1303,\n            \"job\": \"Production Design\",\n            \"name\": \"Alex McDowell\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a3b\",\n            \"department\": \"Sound\",\n            \"gender\": 0,\n            \"id\": 7763,\n            \"job\": \"Sound Editor\",\n            \"name\": \"Ren Klyce\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a41\",\n            \"department\": \"Sound\",\n            \"gender\": 0,\n            \"id\": 7764,\n            \"job\": \"Sound Editor\",\n            \"name\": \"Richard Hymns\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a47\",\n            \"department\": \"Directing\",\n            \"gender\": 2,\n            \"id\": 7467,\n            \"job\": \"Director\",\n            \"name\": \"David Fincher\",\n            \"profile_path\": \"/dcBHejOsKvzVZVozWJAPzYthb8X.jpg\"\n        },\n        {\n            \"credit_id\": \"52fe4250c3a36847f8014a4d\",\n            \"department\": \"Writing\",\n            \"gender\": 0,\n            \"id\": 7468,\n            \"job\": \"Novel\",\n            \"name\": \"Chuck Palahniuk\",\n            \"profile_path\": \"/8nOJDJ6SqwV2h7PjdLBDTvIxXvx.jpg\"\n        },\n        {\n            \"credit_id\": \"55422f369251414aee003e1c\",\n            \"department\": \"Crew\",\n            \"gender\": 0,\n            \"id\": 1447557,\n            \"job\": \"Compositors\",\n            \"name\": \"Rachel Wyn Dunn\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"55731b7792514110f90024ab\",\n            \"department\": \"Production\",\n            \"gender\": 0,\n            \"id\": 1474687,\n            \"job\": \"Associate Producer\",\n            \"name\": \"John S. Dorsey\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"55731b8192514111610027d7\",\n            \"department\": \"Production\",\n            \"gender\": 0,\n            \"id\": 376,\n            \"job\": \"Executive Producer\",\n            \"name\": \"Arnon Milchan\",\n            \"profile_path\": \"/5crR5twLRcIdvRR06dB1O0EQ8x0.jpg\"\n        },\n        {\n            \"credit_id\": \"5894c8c4c3a3685ec3000457\",\n            \"department\": \"Crew\",\n            \"gender\": 0,\n            \"id\": 1749899,\n            \"job\": \"Loader\",\n            \"name\": \"Gary Kanner\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c88d9251410b870003ad\",\n            \"department\": \"Crew\",\n            \"gender\": 0,\n            \"id\": 1378726,\n            \"job\": \"Dialect Coach\",\n            \"name\": \"Francie Brown\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894cc66c3a3685ecd00063e\",\n            \"department\": \"Lighting\",\n            \"gender\": 0,\n            \"id\": 1749920,\n            \"job\": \"Rigging Grip\",\n            \"name\": \"Ronald A. Miller\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894cc4f9251410b9c0005ce\",\n            \"department\": \"Lighting\",\n            \"gender\": 0,\n            \"id\": 1552215,\n            \"job\": \"Rigging Gaffer\",\n            \"name\": \"Martin Bosworth\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894cc17c3a3685ecf0005a6\",\n            \"department\": \"Lighting\",\n            \"gender\": 2,\n            \"id\": 51333,\n            \"job\": \"Gaffer\",\n            \"name\": \"Claudio Miranda\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c4869251410b990001e3\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 10855,\n            \"job\": \"Art Direction\",\n            \"name\": \"Chris Gorak\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c4a3c3a3685ecd0001c0\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 7237,\n            \"job\": \"Set Decoration\",\n            \"name\": \"Jay Hart\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c4eac3a3685ec6000218\",\n            \"department\": \"Costume & Make-Up\",\n            \"gender\": 2,\n            \"id\": 605,\n            \"job\": \"Costume Design\",\n            \"name\": \"Michael Kaplan\",\n            \"profile_path\": \"/pgME9OWsN2y3UZw1OsXbqmN2fEx.jpg\"\n        },\n        {\n            \"credit_id\": \"5894c54ec3a3685ec9000253\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 562696,\n            \"job\": \"Art Department Assistant\",\n            \"name\": \"Dianne Chadwick\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c5bcc3a3685ec0000288\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 1749891,\n            \"job\": \"Art Department Coordinator\",\n            \"name\": \"S. Quinn\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c5c89251410b96000268\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 60937,\n            \"job\": \"Assistant Art Director\",\n            \"name\": \"Seth Reed\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c5e29251410b89000283\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 1533533,\n            \"job\": \"Conceptual Design\",\n            \"name\": \"Josue Clotaire Fleurimond\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c5f6c3a3685ec00002bc\",\n            \"department\": \"Art\",\n            \"gender\": 0,\n            \"id\": 1341851,\n            \"job\": \"Construction Coordinator\",\n            \"name\": \"Jeff Passanante\",\n            \"profile_path\": null\n        },\n        {\n            \"credit_id\": \"5894c60cc3a3685ec00002cf\",\n            \"department\": \"Art\",\n            \"gender\": 2,\n            \"id\": 1463325,\n            \"job\": \"Construction Foreman\",\n     
[...]
